.text_white { color: white; }
.text_rosa { color: #F99DA2; }
.colorrosa { background-color: #F99DA2; }
.colorvermell
{
  font-family: Roboto, sans-serif;
  font-weight: 700;
  color: red;
}
.colorblack
{
  font-family: Roboto, sans-serif;
  font-weight: 700;
  color: black;
}
.color1bg
{
  background-color: #C2956E;
}
.gris { background-color: #75757D;}
