header {
  color: white;
  background-repeat:no-repeat;
  height: 100%;
  /*background-color: #CE2D4F;*/
}

.bgproducts {
 background-size: 100% auto;
 background-image: url("../img/agri.jpg");
 z-index: -1;
}

button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.espaivideo{
  padding-top: 2%;
  padding-bottom: 2%;
}

.special-card {
  background-color: rgba(245, 245, 245, 0.4);
}

.btn-light
{
  background-color: #FFFFFF;
}

.myButton{
    background:url(img/play.png) no-repeat;
    cursor:pointer;
    border:none;
}

.bgcolor
{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  z-index: 1;
}

.bgimgsize
{
  width: 100%; !important;
  z-index: -5;
}

.btn-outline-dark {
    color: black;
    background-color: transparent;
    background-image: none;
    border-color: black;
    font-size: 1vw;
    font-family: Roboto, sans-serif;
    font-weight: 700; /* Roboto medium */
    letter-spacing: 0px;
    border-width: 2px;
}

.btn-lg
{
  font-size: 1.7vw;
  font-family: Roboto, sans-serif;
  font-weight: 500; /* Roboto medium */
  letter-spacing: 0px;
  border-width: 2px;
}

.btn-outline-dark:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: white;
    background-color: #F99DA2;
    border-color: #F99DA2; /*set the color you want here*/
}


.total { height: 100vh; !important; }
.fa.fa-navicon { color:black; }
.navbar-brand { color: black;}
.navbar { margin-top: 4%; }



.navbar-default .navbar-toggle {
    	border-color: transparent;
    	color: black;
    }

.imgperfil
{
  border-radius: 50%;
  height: auto;
  width: 70%;
}

.imgcol
{
  height: 95vh;
  position: absolute;
        top: 0;
        left: 50%;
        margin-right: -50%;
        margin-top: 0;
        margin-bottom: 0;
        transform: translate(-50%, -50%);
}

.col-sm
{
  padding-right: 5%;
  padding-left: 5%;
}

.rel {position: relative;}

.logoserv
{
  height: auto;
  width: 7%;
  margin:4%;
}
.colpadding { padding: 2%; }
.rowheadermargin
{
  margin-left: 5%;
  margin-right: 5%;
}

footer
{
  height: 174px;

}

.box {
  padding-right: 14%;
  padding-left:  14%;
}

.dropdown-item
{
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-weight: 300; /* Roboto light */
  letter-spacing: 1px;
  color: black;
}

.dropdown-menu
{
  background: white;
  border: 0px;
}

a {color: black;}
.active {color: #F99DA2; }
a:hover {color: #F99DA2;}
a:active {color: #F99DA2;}

.dropdown-item.active, .dropdown-item:active {
    color: black;
    text-decoration: none;
    background-color: transparent;
}
.dropdown-item.hover, .dropdown-item:hover {
    color: black;
    text-decoration: none;
    background-color: transparent;
}
.dropdown-item.link, .dropdown-item:link {
    color: black;
    text-decoration: none;
    background-color: transparent;
}

section {
  padding: 150px 0;
}
.navbar-default {
  transition:250ms ease;
  background: transparent;
}
.navbar-default.scrolled{
  background-color: white;
  color: white;
  opacity: 0.7;
  /*border-bottom: 1px double black;*/

  margin-top: 0%;
}
