b { font-weight: 900;}


.lead1
{
  font-size: 1.4rem;
  font-family: 'Alegreya Sans SC', sans-serif;
  color: thin;
  font-weight: 10; /* Roboto medium */
  letter-spacing: 2px;
}
.lead1white
{
  font-size: 1.4rem;
  font-family: 'Alegreya Sans SC', sans-serif;
  color: thin;
  font-weight: 10; /* Roboto medium */
  letter-spacing: 2px;
  color: white;
}


.pfooter
{
  font-size: 1rem;
  font-family: Roboto, sans-serif;
  font-weight: 300; /* Roboto light */
  letter-spacing: 1px;
}

.a
{
  text-decoration: underline;
}


p
{
  font-family: Roboto, sans-serif;
  font-weight: 300; /* Roboto light */
  font-size: 1vw;
  color: black;
}

li
{
  font-family: Roboto, sans-serif;
  font-weight: 300; /* Roboto light */
  font-size: 1vw;
  color: black;
}

h1
{
  font-size: 6vw;
  font-family: Roboto, sans-serif;
  font-weight: 500; /* Roboto medium */
  letter-spacing: 7px;
  margin: 0;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

h2
{
  font-size: 4vw;
  font-family: Roboto, sans-serif;
  font-weight: 900; /* Roboto medium */
  letter-spacing: 3px;
}
h3
{
  font-size: 2.7rem;
  font-family: Roboto, sans-serif;
  font-weight: 900; /* Roboto light */
  color: white;
}
h4
{
  font-size: 2.4vw;
  font-family: Roboto, sans-serif;
  font-weight: 300; /* Roboto light */
}
h5
{
  font-size: 2vw;
  font-family: Roboto, sans-serif;
  font-weight: 300; /* Roboto medium */
  letter-spacing: 2px;
}
h6
{
  font-size: 1.7vw;
  font-family: Roboto, sans-serif;
  font-weight: 900;
  letter-spacing: 0px;
}

navbartxtsize
{
  font-size: 1.4rem;
  font-family: 'Alegreya Sans SC', sans-serif;
  color: black;
  font-weight: 300; /* Roboto medium */
  letter-spacing: 2px;
}


.navbar-brand
{
  font-size: 21px;
  font-family: Roboto, sans-serif;
  font-weight: 300; /* Roboto light */
  letter-spacing: 1px;
  color: white;
}

.nav-item
{
  font-size: 17px;
  font-family: Roboto, sans-serif;
  font-weight: 500; /* Roboto medium */
  letter-spacing: 1px;
  color: BLACK;
}
